:root {
  --colortheme: "#004e11";
}
.homepage-background-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
}

.aboutme-button {
  border: 2px solid #004e11;
  border-radius: 15px;
  background-color: white;
  color: #004e11;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;
  top: -200px;
  width: 150px;
  transition: all 200ms ease-in-out;
}

.aboutme-button:visited {
  text-decoration: none;
  color: inherit;
}
.aboutme-button:hover {
  color: white;
  background: #004e11;
  border: 2px solid white;
}
.brief-story,
.skills {
  font-weight: 600;
  font-size: 30px;
  color: #004e11;
}
.job-grid {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 30px;
}
.with-style-jobs {
  background: #e3ffc3;
}
.web-app {
  max-width: 100%;
  height: 250px;
  position: relative;
  top: 25px;
}
.app-description {
  display: block;
}
.description-button {
  border: 2px solid #004e11;
  border-radius: 15px;
  background-color: white;
  color: #004e11;
  padding: 15px 1px;
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 180px;
  transition: all 200ms ease-in-out;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.description-button:visited {
  text-decoration: none;
  color: inherit;
}
.description-button:hover {
  color: white;
  background: #004e11;
  border: 2px solid white;
}
/* contact me icons style  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.icons {
  position: relative;
  top: 7px;
}
.about-me-button {
  display: block;
  text-align: start;
  width: 120px;
}
.work-background {
  background-color: #e3ffc3;
}
.work-background-1 {
  background-color: #e3ffc3;
}
.mail {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 780px) {
  .aboutme-button {
    top: 0px;
  }
  .job-grid {
    display: none;
  }
  .about-me-button {
    display: block;
    margin: 0 auto;
  }
}
